body{
   background: rgb(253, 252, 250);
   position: absolute;
}
th{
   text-align: left;
}
.table{
   text-align: left;
   padding: 20px;
   
}
#tableHeader{
   font-style: italic;
   padding-right: 20px;

}
#photo{
   padding: 20px;
   border-radius: 30px;
   text-align: center;
   position: relative;
   margin-left: 300px;
   width: "200";


}
.links{
   text-decoration: underline;
   color: black;
   text-align: left;
}
nav{
   display: flex;
   align-items: center;
   text-transform: uppercase;
   
   width: 100%;
   top: 0;
   
   margin: 10px;
}
nav ul li a{
   padding: 1rem 0;
   margin: 0 3rem;
   position: relative;
   letter-spacing: 2px;
   color: antiquewhite;
   
 
 }
nav ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   
}
nav li {
   margin-right: 12px;
   left: 600px;
   position: relative;
   padding: 0px;
}
nav li a:hover{
   color: rgb(241, 153, 153);   
}
nav li a{
   text-decoration: underline;
   columns: rgb(236, 130, 130);
   font-size: 15px;
}
p em{
   color: rgb(236, 130, 130);
}
p{
   padding: 15px;
}
a:hover{
   color: bisque; 
}
.header{
   position: relative;
   width: 100%;
   height: 30vh;
   background-image: url(https://www.wallpapertip.com/wmimgs/219-2193017_dark-sky-background-png.png);
   font-size: 18px;
}
.headerp2{
   color: white;
   position: absolute;
   bottom: 0%;
   left: 2%;
   padding-top: 30px;
   padding-left: 0px;
   font-size: 18px;
}
.headerp {
      color: white;
      position: absolute;
      top: 0%;
      
      left: 2%;
      padding-left: 0px;
}
#supriseMe{
   display: inline-block; /*to enable the ability to add width and height to our button. */
   background-color: #575645; /* a fancy background color for the button. */
   padding: 20px; /* makes a bit more room for our button in all four sides. */
   width: 150px ;/* gives a 150px width. */
   color: #ffffff; /* makes the Submit text white. */
}
#listButton{
   display:inline-block;
   padding: 2px;
   width: 70px;
   height: 20px;


}
.about{
   font-size: 20px;
}